---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Publicado el: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>Escrito por {frontmatter.author}</p>
  <div class="img">
    {
      frontmatter.images.map(
        (img: {
          url: string | null | undefined;
          alt: string | null | undefined;
        }) => <img src={img.url} width="300" alt={img.alt} />
      )
    }
  </div>
  <slot />
  <div class="tags">
    {
      frontmatter.tags.map((tag: unknown) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>#{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
